/*
 * Globals
 */

body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
}

blog-img {
	width:300px;
}


h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #333;
}


/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}


/*
 * Masthead for nav
 */

.blog-masthead {
  background-color: #428bca;
  -webkit-box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
          box-shadow: inset 0 -2px 5px rgba(0,0,0,.1);
}

/* Nav links */
.blog-nav-item {
  position: relative;
  display: inline-block;
  padding: 10px;
  font-weight: 500;
  color: #cdddeb;
}
.blog-nav-item:hover,
.blog-nav-item:focus {
  color: #fff;
  text-decoration: none;
}

/* Active state gets a caret at the bottom */
.blog-nav .active {
  color: #fff;
}
.blog-nav .active:after {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -5px;
  vertical-align: middle;
  content: " ";
  border-right: 5px solid transparent;
  border-bottom: 5px solid;
  border-left: 5px solid transparent;
}


/*
 * Blog name and description
 */

.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #999;
}


/*
 * Main column and sidebar layout
 */

.blog-main {
  font-size: 18px;
  line-height: 1.5;
}

/* Sidebar modules for boxing content */
.sidebar-module {
  width:300px;
  padding: 15px;
  margin: 0 -15px 15px;
}
.sidebar-module-inset {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.sidebar-module-inset p:last-child,
.sidebar-module-inset ul:last-child,
.sidebar-module-inset ol:last-child {
  margin-bottom: 0;
}


/* Pagination */
.pager {
  margin-bottom: 20px;
  text-align: left;
}
.pager > li > a {
  width: 100px;
  padding: 10px 10px;
  text-align: center;
  border-radius: 30px;
}


/*
 * Blog posts
 */

.blog-post {
  position: relative;
  background: #ffffff;
  border: 1px solid #ccc;
  margin: 20px 0 35px;
  padding: 10px 20px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  _position: static;
  _padding-bottom: 30px;
}

.blog-post-title {
  margin-bottom: 5px;
  font-size: 30px;
}
.blog-post-meta {
  margin-bottom: 20px;
  color: #999;
}

.comment-post {
  position: relative;
  background: #ffffff;
  border: 1px solid #ccc;
  margin: 20px 0 35px;
  padding: 10px 20px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  box-shadow: 0 1px 2px rgba(0,0,0,0.3);
  _position: static;
  _padding-bottom: 30px;
}
.commenter{
	padding-left:10px;
	float:left;
	width:150px;
	font-size:15px;
	font-weight:bold;
}

.comment-time{
	float:left;
	width:250px;
	font-size:15px;
}

.comment-label{
	  padding-top:10px;
	  padding-bottom: 10px;
	  font-size:15px;
	  font-weight:bold;
	  color:#2E9AFE;
}
/*
 * Footer
 */

.blog-footer {
  padding: 40px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}

/*
 * open article
 */
.key-open{
	
}

/*
 * close article
 */
.key-close{
	
}
/*
 * open comment
*/
.key-comment{
	
}

.key-group{
	
}

.blog-badge{
	padding-top:10px;	
}

#gotop {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 20px;    
    padding: 10px 15px;    
    font-size: 20px;
    background: #777;
    color: white;
    cursor: pointer;
}

.photo {
	width:110px;
	height:110px;
	float: left;
}
.info{
	height:110px;
	font-size:15px;
	font-weight:bold;
	padding-top:30px;
	
}
.upload{
	padding-left:10px;
}

.article-info{
	padding-left:10px;
	float:left;
	width:100px;
	font-size:15px;
}

.article-time{
	float:left;
	width:200px;
	font-size:15px;
}

.clear{
	padding-top:15px;
	clear:both;
}

.comment-form{
	font-size:15px;
}