body{
    margin: 0;
    font-family: "Hiragino Sans GB","Microsoft YaHei","微软雅黑",tahoma,arial,simsun,"宋体";
    overflow-x:auto;
    background-color: #ededef;
    background-repeat: repeat;
    text-align: center;
}
*{
    margin: 0;
}
a:hover {
    color: #00f;
}
#content{

}
#nav {
    margin: 0;
    width:100%;
    height: 90px;
    background: url(imag/body.png?022) repeat-x;
    text-align: center;
}
#nav .title {
    font-weight: bold;
    font-size: 30px;
    color: #fff;
    padding-top: 10px;
    width: 960px;
    text-align: left;
    margin: 0 auto;
}
#nav .menu {
    width: 960px;
    height: 20px;
    text-align: right;
    margin: 5px auto;
}
#nav a {
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    font-size: 16px;
    color: #eaeaea;
    line-height: 20px;

}
#nav a:active{
    color: #00f;
    font-weight: bold;
}

.clear {
    clear : both;
}
#tag {
    text-align: left;
    margin: 20px auto;
    width: 960px;
    display: block;
    box-shadow: 0 0 10px #777;
    border: 1px solid;
    border-color: #ccc;
    border-radius: 5px;
    background: url(imag/bg.gif) repeat;

}
#tag span {
    display:inline-block;
    margin: 10px 10px;
    background-color: rgba(132, 134, 136, 0.65);
    background-color: rgb(132, 134, 136);
    border: 1px solid ;
    border-color: #ccc;
    padding: 3px;
    border-radius: 3px;

}
#tag a{
    font-size: 15px;
    line-height: 150%;
    text-decoration: none;
    color: #fff;
}
#tag em{
    font-style: normal;
    color: rgb(74, 74, 236);
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #fff;
    margin-left: 5px;
    padding-left: 5px;
    color: #333;
    font-weight: bold;
    display: inline-block;
}
#tag span:active {
    background-color: #ccc;
}
#tag span:visited {
    background-color: #ccc;
}
#articles {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
#articles .article {
    width: 960px;
    text-align: left;
    margin-top: 35px;
    box-shadow: 0 0 10px #777;
    border: 1px solid;
    border-color: #ccc;
    border-radius: 5px;
    background: url(imag/bg.gif) repeat;
}
#articles .title {
    margin: 20 auto;
    font-size: 18px ;
    font-weight: bold;
    color: #222;
    text-align: center;
}
#articles .content {
    text-align: left;
    margin: 10px 25px 20px 25px;
    font-size:15px;
    font-weight: normal;
    color: #555;
    line-height: 150%;
}
#articles img{
    margin: 0 25px;
    width: 340px;
}
#articles .p-img{
    text-align: center;
    margin-bottom: 20px;
}
#articles .info{
    font-size: 14px;
    text-align: right;
    margin: 0 20px 20px 20px;
}
#articles em{
    display: inline-block;
    background-color: #C5C5C5;
    padding: 3px auto;
    font-style: normal;
    border-radius: 2px;
}
#articles a{
    text-decoration: none;
    font-size: 14px;
    color: #222;
}
#page{
    width:960px;
    margin:0 auto;
    text-align: right;
}
#page .end {
    font-size: 14px;
    line-height: 18px;
    color: #222;
    border-radius: 3px;
    padding: 3px;
    margin: 10px 0 10px 10px;
    text-decoration: none;
    display: inline-block;
    background-color: #5690D2;
    box-shadow: 0 0 10px #777;
}
#page .page{
    padding: 0 3px;
}
#page *:active{
    border: 1px dashed #D8D8D8;
    background-color: #f7f7f7;
}
#footer {
    margin: 30px auto;
    padding-top: 5px;
    border-top: 1px solid #D8D8D8;
    width: 960px;
    font-size: 10px;
}
#footer .footer-inner {
    text-align: right;
}
#footer .copyright {
    font-size: 10px;
}
#footer a{
    text-decoration: none;
}
#single_article{
    width: 960px;
    margin: 10px auto;
}
#single_article .title {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-top: 30px;
    margin-bottom: 30px;
}
#single_article .info {
    font-size: 16px;
    color: #555;
    margin-bottom: 30px;
}
#single_article .content{
    font-size: 15px;
    color:#333;
    line-height: 150%;
    margin-bottom: 30px;
    padding-bottom: 40px;
    text-align: left;
}
#single_article xmp{
    display: block;
    margin: 10px 0;
    padding: 5px;
    font-size: 12px;
    line-height: 120%;
    font-family: cursive;
    background-color: #fff;
    background: url(imag/bg.gif);
}
#single_article .prettyprint {
    word-wrap: break-word;
    margin: 20px;
    background-color: #DCDAE4;
    box-shadow: 0 0 10px #3C3939;
    font-size: 14px;
    padding-left: 5px;
    color: #222;
}
#single_article .tags {
    background-color: #C5C5C5;
    border-radius: 2px;
    padding: 3px;
}
#single_article a{
    text-decoration: none;
    font-size: 16px;
    color: #555;
}
#review {
    text-align: center;
    width: 960px;
    margin: 0 auto;
}
#review .title{
    text-align: left;
    font-size: 16px;
    color: #333;
    line-height: 120%;
    font-weight: bold;
    margin-bottom: 10px;
}
#review .count {
    font-size: 14px;
    font-weight: bold;
    color: #444;
    padding-bottom: 3px;
    border-bottom: 3px solid rgba(156, 151, 151, 0.39);
    border-bottom-color: rgb(156, 151, 151);
}
#review .input-review{
    text-align: left;
    width: 960px;
    margin-bottom: 20px;
}
#review textarea{
    border: 2px solid #C5C5C5;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 150%;
}
#review .commit-btn {
    text-align: right;
    line-height: 120%;
    padding: 4px 15px;
    background-color: rgba(171, 167, 175, 0.86);
    background-color: rgb(171, 167, 175);
    border: 1px solid #ccc ;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    border-radius: 3px;
}
#review .input-review a:active {
    background-color: #aaa;
}

#review textarea:focus {
    border: 2px solid rgba(13, 102, 228, 0.7);
    border-color: rgb(13, 102, 228);
    border-radius: 5px;
    outline: none;
}
#review .single-review {
    width: 960px;
    margin-top: 15px;
    font-size: 15px;
    line-height: 150%;
    border-bottom: 1px dashed #C5C5C5;
}
#review .reviewer{
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    color:#00f;
}
#review .answer{
    font-size: 15px;
    font-weight: bold;
    display: inline-block;
    color:#00f;
}

#review .info{
    font-size: 14px;
    text-align: right;
}
#review .review-action{
    font-size: 14px;
    text-align: left;
}
#review .review-action a{
    margin: 0 30px 0 0;
    text-decoration: none;
}
#review .favorite-count{
    font-weight: bold;
}
#review .review-history{
    text-align: left;
}
.clear{
    clear: both;
}
#review_box {
    position: fixed;
    *position: absolute;
    _position: absolute;
    left: 50%;
    top: 50%;
    width: 350px;
    margin-left: -175px;
    margin-top: -100px;
    border: 1px solid #EAEAEA;
    border-radius: 5px;
    background-color: #fff;
    z-index: 1001;
}
#review_box .close{
    text-align: right;
    margin-top: 10px;
    margin-right: 10px;

}
#review_box .close a {
    font-size: 16px;
    color: #999;
    text-decoration: none;
}
#review_box input[type="text"] {
    width: 180px;
    height: 28px;
    padding: 3px;
    font-size: 14px;
    line-height: 120%;
    margin: 5px 5px 5px 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border linear .2s,box-shadow linear .2s;
}
#review_box span {
    font-size: 14px;
    font-weight: bold;
    margin: 5px 0;
}
#review_box input[type="checkbox"]{
    margin: 5px 15px 5px 30px;
}
#review_box p.submit {
    margin: 10px 5px 10px 30px;
}
#review_box .submit-btn{
    background-color: #fff;
    padding: 3px 10px;
    font-size: 14px;
    color: #444;
    border: 1px solid #999;
    border-radius: 3px;
    text-decoration: none;
}
#review_box .cancel {
    margin-left: 160px;
}
#review_box .submit-btn:active {
    background-color: #999;
}
#review_box .customer {
    font-size: 14px;
    color: #333;
}
.hide {
    display: none;
}

#tag_content{
    width: 960px;
    margin: 0 auto;
    text-align: left;
}

#tag_content .single-tag {
    margin: 10px;
    border-bottom: 1px dashed #999;
}

#tag_content .title {
    margin: 10px;
    font-size: 25px;
    font-weight: bold;
}

#tag_content .article {
    margin: 10px;
}
#tag_content a {
    font-size: 15px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(53, 0, 255, 0.66);
    color: rgb(53, 0, 255);
}
#tag_content .info {
    font-size: 10px;
    color: #999;
}

#back-top {
    position: fixed;
    right: 80px;
    bottom: 80px;
}
#back-top .arrow {
    display: block;
    width: 50px;      
    height: 50px;
    background: url(imag/back-top.png) no-repeat 0 0;
    font-size: 16px;
    line-height: 300%;
    font-weight: bold;
}
#back-top .arrow:hover{
    background-position: -50 0;
}

#back-top span {
    margin-left: 12px;
}
#load_more{
    width: 960px;
    text-align: center;
    margin: 10px auto;
}
#load_more .notice {
    font-size: 12px;
    font-weight: bold;
    margin-left: 15px;
}
#load_more .sign {
    position: relative;
    top: 15px;
    width: 35px;
    height: 35px;
    background: url(imag/loadm.gif) no-repeat;
}