<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>孙焕山</title>

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/blog.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="static/jquery.min.js"></script>
    <script src="static/bootstrap.min.js"></script>
    
    <script type="text/javascript">
	$(document).ready(function(){
    		var url= 'article/list';
    		var gurl = 'article/groups'
    		var turl = "article/tags"
        	var param = jQuery.param({});
    		getArticles(param, url);
    		getTags(turl);
    		getGroups(gurl);
    		
    		function getGroups(url){
    			$.ajax({
    				async : true,
    				method : 'POST',
    				url : url,
    				dataType : 'json',
    				success : function(resp){
    					if(!resp['success']){
    						alter(resp['detail']);
    					}
    					var items = resp['items'];
    					var titHtml = '';
    					if (items){
    						//console.log(items);
    						for(var time in items){
    							//console.log(time);
        						titHtml = titHtml + '<li class="list-group-item"><a href="javascript:void(0)" time_id="' 
        								+ time +'" class ="btn key-group">'
        								+ time + '&nbsp;&nbsp;' + '<span class="badge">' + items[time]
        								+ '</span> </a>'+ '</li>';
    						}
    					}
    					$('#group_id').html('');
    					$('#group_id').append(titHtml);
    				}
    			});	
    		}
			
    		function getTags(url){
    			$.ajax({
    				async : true,
    				method : 'POST',
    				url : url,
    				dataType : 'json',
    				success : function(resp) {
    					if(!resp['success']){
    						alter(resp['detail']);
    					}
    					var items = resp['items'];
    					var titHtm = '';
    					for (var i = 0; i < items.length; i ++) {
    						var tag = items[i];
    						titHtm += '<a class = "key-tag" id = "' + tag.id + '" href="javascript:void(0)">' + '<span style="font-size:' + (15 + tag.count*3) + 'px;">' + tag.name + '</span>' + '</a>&nbsp;&nbsp;';
    					}
    					//console.log(titHtm);
    					$('#tag_id').html('');
    					$('#tag_id').append(titHtm);
    				}
    			});
    		}
    		
    		function getArticles(param, url){
    			$.ajax({
    				async : true,
    				method : 'POST',
    				url : url,
    				data: param,
    				dataType : "json",
    				success : function(resp){
    					if (!resp['success']){
    						alert(resp['detail']);
    						return;
    					}
    					var items = resp['items'];
    					artHtml = '';
    					for(var i = 0; i < items.length; i++){
    						var art = items[i];
    						var id = art['id'];
    						//console.log('artId:' + id);
    						var title = art['title'];
    						var author = art['author'];
    						var leading = art['leading'];
    						var createTime = art['createTime'];
    						var clickCount = art['clicks'];
    						var comments = art['comments'];
    						artHtml = artHtml +　'<div id = "article_id_' + id +'" class="clear blog-post">'
    								+ '<h2 class="blog-post-title">' + '<a class="btn btn-large key-open title" href="javascript:void(0)" art_id="' + id + '">' + title + '</a></h2>' 
    								+ '<div class = "article-info">' + '作者:' + author + '</div>'
    								+ '<div class = "article-time">' + '时间:' + createTime + '</div>'
    								+ '<div class = "article-info">' + '阅读:' + clickCount + '</div>'
    								+ '<div class = "article-info">' + '评论:' + comments + '</div>'
    								+ '<div class = "clear">' + leading + '...' + '</div>'
    								+ '<a class="btn btn-large key-open" href="javascript:void(0)" art_id="' + id + '">阅读 &raquo;</a>' 
    								+'</div>';
    					}
    					//artHtml = artHtml 
    					//		+ '<div class ="clear"><nav><ul class="pager"><li><a id = "previous_id" href="#">Previous</a></li>' 
    					//		+ '<li><a id = "next_id\" href="#">Next</a></li></ul></nav></div>';
    					//console.log(artHtml);
    					$('#blog_id').html('');
    					$('#blog_id').append(artHtml);
    					$("html, body").animate({scrollTop:0},1000);
    				},
    				error:function(xhr,error){
    					console.log(xhr);
    					console.log(error);
    				}
    			});
    		}
    		
    		function openArticle(url, param){
    			$.ajax({
    				async : true,
    				url: url,
    				method:'POST',
    				data:param,
    				dataType:'json',
    				success:function(resp){
    					if(!resp['success']){
    						alert(resp['detail']);
    					}
    					var art = resp['items'][0];
						var id = art['id'];
						//console.log('artId:' + id);
						var title = art['title'];
						var author = art['author'];
						var content = art['content'];
						var createTime = art['createTime'];
						var clickCount = art['clicks'];
						var commentCount = art['comments']
    					artHtml = '<div class="blog-post">' 
    							+ '<h2 class="blog-post-title">' + title + '</h2>'
    							+ '<div class = "article-info">' + '作者:' + author + '</div>'
								+ '<div class = "article-time">' + '时间:' + createTime + '</div>'
								+ '<div class = "article-info">' + '阅读:' + clickCount + '</div>'
								+ '<div class = "article-info">' + '评论:' + commentCount + '</div>'
								+ '<div class = "clear">'
								+ content 
								+ '<ul class="nav nav-list"><li class="divider"></li></ul>'
    							+'</div>'
    							+ '<br>';
						coms = resp['comments'];
						for(var i=0; i < coms.length; i++){
    						com = coms[i];
    						artHtml = artHtml + '<div class ="comment-post">'
    							+ '<div class = "commenter">' + com['commenter'] + '</div>'
    							+ '<div class = "comment-time">' + com['createTime'] + '</div>'
    							+ '<div class = "clear">' + com['comment'] + '</div>'
    							+ '</div>';
    					}
						artHtml = artHtml + '<br>'
						
						+ '<div class ="comment-post comment-form"></h4><form id="comment_form" class="form-horizontal" >'
						+ '<div class = "comment-label">既然来了，就评论一下吧</div>'
						+ '<div class="form-group">'
						+ '<label class="col-sm-2 control-label">昵称</label>'
						+ '<div class="col-sm-10"><input type="text" class="form-control" id="commenter_name" placeholder="昵称/Name"></div>'
						+ '</div>'
						+ '<div class="form-group">'
						+ '<label class="col-sm-2 control-label">评论</label>'
						+ '<div class="col-sm-10"><textarea class="form-control" rows="5" cols="30" name ="comment" id="comment_id"></textarea></div>'
						+ '</div>'
						+ '<div class="form-group">'
						+ '<div class="col-sm-offset-2 col-sm-10"><button type="button" class="btn btn-default key-comment" value="'+ id +'">提交评论</button></div>'
					  	+ '</div>'
						+ '</form>'
						+ '</div>'
						+ '<br>' + '<a class="btn btn-large key-close" href="javascript:void(0)">收起文章 &laquo;</a>' 
						
    					$('#blog_id').html('');
    					$('#blog_id').append(artHtml);
    					$("html, body").animate({scrollTop:0},1000);
    				},
    				error:function(xhr,error){
    					console.log(xhr);
    					console.log(error);
    				}
    			});
    		}
    		//查看文章事件
    		$('#blog_id').on('click','.key-open', function(){
    			var artId = $(this).attr("art_id");
    			var param = jQuery.param({id : artId});
				var url = 'article/content';
				openArticle(url, param);
    		});
    		
			// 收起文章事件
    		$('#blog_id').on('click','.key-close', function(){
    			var param = jQuery.param({});
    			var url = 'article/list'
    			getArticles(param, url);
    		});
			
			//提交评论
			$('#blog_id').on('click', '.key-comment', function(){
				var artId = $(this).val();
				var commenter = $('#commenter_name').val();
				var comment = $('#comment_id').val();
				if (commenter == '' || comment == ''){
					alert('请输入昵称和评论后提交');
					return false;
				}
    			var param = jQuery.param({id : artId, commenter : commenter, comment: comment});
    			$.ajax({
    				async : true,
    				url:'article/addComment',
    				method:'POST',
    				data:param,
    				dataType:'json',
    				success:function(resp){
    					alert(resp['detail']);
    					if(!resp['success']){
    						return false;
    					}
    					var param = jQuery.param({id : artId});
    					var url = 'article/content';
    					openArticle(url, param);
    				},
    				error:function(xhr,error){
    					console.log(xhr);
    					console.log(error);
    				}
    			});
			});
			
			// 按时间分组展开文章
    		$('#group_id').on('click','.key-group', function(){
    			var time = $(this).attr("time_id");
    			var param = jQuery.param({'time' : time});
				var url = 'article/articleByTime';
    			getArticles(param, url);
    		});
			// 按标签展开文章
    		$('#tag_id').on('click','.key-tag', function(){
    			var tagId = $(this).attr("id");
    			var param = jQuery.param({id : tagId});
				var url = 'article/articleByTag';
    			getArticles(param, url);
    		});
			
    	});
    </script>
  </head>

  <body>
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">
          <a id = 'home_id' class="blog-nav-item active" href="index">首页</a>
          <!-- 
          <a id = 'new_id' class="blog-nav-item" href="new">新文章</a>
           -->
          <a id = 'about_id' class="blog-nav-item" href="#">关于</a>
        </nav>
      </div>
    </div>

    <div class="container">

      <div class="blog-header">
        <h4 class="blog-title">孙焕山の博客</h4>
        <p class="lead blog-description">勤能补拙是良训，一份辛苦一份才.</p>
      </div>

      <div class="row">
        <div id = 'blog_id' class="col-sm-9 blog-main"> 
        </div><!-- /.blog-main -->
		<div>
          
        <div class="col-sm-2 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
          	<div class = 'photo'>
	            <img src="static/imag/pes.jpg" class="img-circle">
          	</div>
          	<div class = 'info'>
          		<p>&nbsp;&nbsp;孙焕山</p>
          		<p>&nbsp;&nbsp;北京兰亭集势</p>    
          	</div>
          </div>
          <div class="sidebar-module">
            <h4>归档</h4>
            <ul id = 'group_id' class="list-group">
            </ul>
          </div>
          <div class="sidebar-module">
          	<h4>标签</h4>
          	<div id = 'tag_id'></div>
          </div>
          <div class="sidebar-module">
            <h4>快速通道</h4>
            <ol class="list-unstyled">
              <li><a href="#">GitHub</a></li>
              <li><a href="#">微博</a></li>
              <li><a href="#">Facebook</a></li>
            </ol>
          </div>
        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

    <div class="blog-footer">
      <p>Blog template built for <a href="http://getbootstrap.com">Bootstrap</a> by <a href="https://twitter.com/mdo">@mdo</a>.</p>
      <p>
        <a href="#">Back to top</a>
      </p>
    </div>

  </body>
</html>
